/* Fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Center canvas. */
#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-toolbar {
	text-align: center;
}

#add-habit {
	margin-top: 25px;
	float: right;
}